<div class="card-container">
  <div class="card">
    <img src="cr7.png" alt="">
    <div class="card-content">
      <h3>Cristiano Ronaldo</h3>
      <p>
        Ícono del fútbol y ganador de múltiples Balones de Oro, Cristiano Ronaldo ha marcado la diferencia en clubes como Manchester United, Real Madrid y Juventus con su impresionante capacidad goleadora y dedicación.
      </p>
    </div>
  </div>

  <div class="card">
    <img src="messi.png" alt="">
    <div class="card-content">
      <h3>Lionel Messi</h3>
      <p>
        Legendario en el FC Barcelona y la selección argentina, Lionel Messi es famoso por su habilidad excepcional y visión de juego, acumulando numerosos títulos y Balones de Oro a lo largo de su carrera.
      </p>
    </div>
  </div>

  <div class="card">
    <img src="neymar.png" alt="">
    <div class="card-content">
      <h3>Neymar JR.</h3>
      <p>
        Neymar Jr. es un talento destacado por su creatividad y estilo de juego electrizante. Ha brillado en Santos, Barcelona y PSG, convirtiéndose en uno de los jugadores más emocionantes del fútbol actual.
      </p>
    </div>
  </div>
</div>

