<app-nav-bar></app-nav-bar>
<app-bar-stats-players></app-bar-stats-players>

<div class="main-div-stats">
  <br> <br> <br>

  <div class="image-row">
    <div class="image-container">
      <h2 class="image-subtitle1">1. Premier League</h2>
      <img src="premier-league.jpg" alt="" class="stats-image">
    </div>

    <div class="image-container">
      <h2 class="image-subtitle2">2. La liga</h2>
      <img src="la-liga.png" alt="" class="stats-image">
    </div>
  </div>

  <div class="image-row">
    <div class="image-container">
      <h2 class="image-subtitle3">3. Bundesliga</h2>
      <img src="bundesliga.png" alt="" class="stats-image">
    </div>
  </div>
</div>
