.main-div-stats {
  background-color: rgba(59, 122, 87, 1);
  min-height: 200vh;
  padding: 20px;
}

.image-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.image-container {
  margin: 0 40px;
  text-align: center;
}

.stats-image {
  max-width: 100%;
  height: auto;
}

.image-subtitle1{
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-family: 'Anton', sans-serif;
  margin-bottom: 10px;
  margin-right: 56vh;

}

.image-subtitle2{
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-family: 'Anton', sans-serif;
  margin-bottom: 10px;
  margin-right: 66vh;
}

.image-subtitle3 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-family: 'Anton', sans-serif;
  margin-bottom: 10px;
  margin-right: 63vh;

}

.image-subtitle1:hover, .image-subtitle2:hover, .image-subtitle3:hover {
  color: #fff;
  text-shadow: 0 0 10px #1100ff;
  transition: text-shadow 0.5s ease, color 0.7s ease;
}

.stats-image {
  max-width: 100%;
  height: auto;
  transition: transform 1.0s ease;
}

.stats-image:hover {
  transform: scale(1.05);
}

