<div class="main-div-bar-stats">
  <div class="subdiv-bar-stats">
    <h1 class="principal-title-stats">Estadísticas</h1>
  </div>
</div>

<div class="stats-sub-div">
  <div class="image-container">
    <img src="players-celebrate.png" alt="Estadísticas de fútbol" class="stats-image">
  </div>
  <div class="text">
    <h1 class="principal-title">¡Checa las estadísticas de las mejores <br> 3 ligas de Europa!</h1>
    <p class="principal-text">Explora el top 5 de los mejores equipos en las tablas de posiciones de la Premier League, La Liga y la Bundesliga. Consulta puntos, posiciones y rendimiento de equipos en cuanto a partidos para mantenerte al tanto de todo lo que ocurre en el fútbol europeo. <br> ¡No te pierdas nada y vive la emoción del juego a través de las estadísticas!</p>
  </div>
</div>
