<nav class="navbar" role="navigation" aria-label="main navigation" background-color="black">
  <div class="navbar-brand">
        <img class="img-navbar" src="logo.png" alt="">


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start navbar-start-centered">
      <a class="navbar-item" href="/Inicio">
        Inicio
      </a>

      <a class="navbar-item" href="Estadisticas">
        Estadísticas
      </a>

      <a class="navbar-item" href="Futbolistas">
        Futbolistas
      </a>
      <a class="navbar-item" href="Partidos">
        Partidos
      </a>


    </div>

  </div>
</nav>
