<div class="main-div">
  <app-nav-bar></app-nav-bar>

  <div class="text-container">
    <div class="text">
      <h1 class="principal-title">¿Te gusta el <span id="text-futbol">fútbol</span>?</h1>
      <p class="principal-text">Estás en la mejor página de fútbol. Aquí encontrarás las estadísticas de las mejores ligas de Europa, un ranking de 3 futbolistas importantes en el futbol, y avisos sobre los próximos partidos más importantes. ¡Únete a nuestra apasionada comunidad de fanáticos del fútbol y ¡Sé un verdadero <span id="text-goat">GOAT</span>!</p>
    </div>
    <div class="image-principal">
      <img src="football-players.png" alt="Football players">
    </div>
  </div>
</div>

<app-footer></app-footer>
